rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /inventaire/{itemId} {
      // Pour une application privée, remplacez ces règles par une authentification Firebase.
      allow read, write: if true;
    }
  }
}
